/*
Writting By : Jerome
Update Time : 2020/11/05
*/

/*基本主体框架*/
html, body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI",Segoe,Tahoma,Arial,Verdana,sans-serif;
  background-image: url(https://cn.bing.com/th?id=OHR.Albarracin_ZH-CN0019262872_1920x1080.jpg&rf=LaDigue_1920x1080.jpg&pid=hp);
}
/*表单设计部分*/
.roundInput {
  margin-bottom: 10px;
  position: relative;
  border-radius: 20px;
  height: 40px;
  background-color: #ffffff;
  width: 30%;
}
.roundInputText {
  height: 40px;
  border-style: hidden;
  border-radius: 20px;
  line-height: 40px;
  padding: 0 36px;
}
.roundInputRadio {
  margin-top: 12px;
}
.imageInput {
  width: 16px;
  height: 16px;
  position: absolute;
  top : 12px;
  left: 16px;
}
